---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Your favorite TORQIUM services will go live by early 2026.
`;
---

<Layout title="TORQIUM">
    <h1 class="mb-10">Hang tight.</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>
